<div class="container event_show">
  <h2><%= @tournament.name %>キューブ会</h2>
  <dl>
    <dt>日時</dt><dd><%= @tournament.date %></dd>
    <dt>場所</dt><dd><%= @tournament.place %></dd>
    <dt>参加者</dt><dd><%= @tournament.member %></dd>
    <dt>開催内容</dt>
    <dd>
    <% @winners.each do |winner| %>
      <p><%= @tournament_type.find(winner.tournament_type).tournament_type_ja %>キューブ</p>
    <% end %>
    </dd>
    <dt>優勝リスト</dt>
    <dd>
    <% @winners.each do |winner| %>
      <p>
        <a href="/decklist/<%= winner.id %>">
        <%= winner.player_name %>(<%= @tournament_type.find(winner.tournament_type).tournament_type_ja %>キューブ)
        </a>
      </p>
    <% end %>
    </dd>
    <dt>備考</dt><dd><%= @tournament.remarks %></dd>
  </dl>
</div>
