<!DOCTYPE html>
<html>
  <head>
    <title>AEON SERVER CUBE PORTAL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/wpy6bgq.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="title">
        <%= image_tag 'logo.png' %>
        <h1>AEON SERVER CUBE PORTAL</h1>
      </div>
      <nav>
        <%= link_to "デッキリスト", "/records" %>
        <%= link_to "統計データ", "/stats" %>
        <%= link_to "イベント情報", "/event" %>
        <%= link_to "管理ページ", "" %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
